<div class="jumbotron">
  <h1 class="display-6">Ven, Te desafio a realizar estas pruebas dieciocheras!</h1>
</div>

<br>

<div class="row">
    <% @tasks.each do |completo| %>
    <div class="card text-white bg-primary col-sm-12 col-md-4">
      <h3><%= completo.name %></h3>
      <div class="thumbnail">
        <%= image_tag completo.photo, class: "img-fluid img-thumbnail" %>
        <small><%= time_ago_in_words completo.updated_at %> ago</small>
        <br>
        <p><%= link_to 'Detalle', completo, class: "btn btn-primary" %> </p>

          <%= current_user.readies.state%>

      </div>

    </div>
  <% end %>
    <br>

</div>
