<div class="jumbotron">
  <h1 class="display-6">Ven, Te desafio a realizar estas pruebas dieciocheras!</h1>
</div>

<br>

<div class="row">
    <% @tasks.each do |task| %>
      <div class="card text-white bg-primary col-sm-12 col-md-4">
        <h3><%= task.name %></h3>
        <div class="thumbnail">
          <%= image_tag task.photo, class: "img-fluid img-thumbnail" %>
          <small><%= time_ago_in_words task.updated_at %> ago</small>
          <br>
          <p><%= link_to 'Detalle', task, class: "btn btn-primary" %> </p>

        </div>
            <% if !@readies.exists?(user_id: current_user.id, task_id: task.id) %>

            <%= link_to 'Completar', task_readies_path(task.id), method: :post, class: "btn btn-success" %>
          <% else %>
          <p>Completado!</p>
          <% end %>



      </div>
  <% end %>
    <br>

</div>
