<h3><%= @task.name %></h3>

<div class="jumbotron text-center">
  <%= image_tag @task.photo, class: "img-fluid img-thumbnail" %>
</div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-primary">
        <table class="table table-hover">
          <thead>
            <tr class="table-active">
              <th scope="col">  </th>
              <th scope="col">Lista de usuarios Ok</th>
            </tr>
          </thead>
          <tbody>
            <% @task.users.each do |u| %>
            <tr class="table-active">
              <th scope="row"></th>
              <td class="text-center">
                <%= u.name %>
              </td>
            </tr>
            <% end  %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card bg-primary">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>TOP 5</th>

            </tr>
          </thead>
          <tbody>
            <% @task.users.order(updated_at: :asc).limit(5).each do |u| %>
            <tr>
              <td> <%= image_tag u.photo, class: "img-fluid img-thumbnail"%></td>
              <td>
                <%= u.name %>
              </td>
            </tr>
            <% end  %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
